
<!-- <h1>404 Page not Found</h1>
<p>Try a different link</p> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main class="FourZeroFour" >
   
        <h1 class ="header_404">404 Page not Found</h1>
        <p class = "text_404">Try a different link</p>
    </main>
    <%- include('partials/footer') %>
</body>
</html>